:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', 'Times New Roman', Times;
    font-style: italic;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #ffffff;
}

main .inicio-bem-vindo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*Página inicial do site*/
.inicio-bem-vindo{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../../img/inicio/capa-pagina_inicial.png');
    height: 560px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.inicio-bem-vindo .descricao{
    margin-top: 10px;
    font-size: 22px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-style: italic; 
    color: #AAA;   
}

.inicio-bem-vindo .descricao1{
    margin-top: 15px;
    font-size: 22px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-style: italic;
    color: #AAA;  
}

.inicio-bem-vindo .descricao2{
    margin-top: 30px;
    font-size: 22px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-style: italic;
}

.inicio-bem-vindo .titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-style: italic;
}
    

.inicio-bem-vindo .container{
    width: 70%;
}
